@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
 

.baggage-detail-container {
	padding:10px 0px 10px 0px;
}
.baggage-detail-content {
	padding:10px 0px 10px 0px;
	}
.baggage-detail-warning {
	padding-top: 10px;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
}
.flight-details {
	position:relative;
}
div.connector-line {
	
    display: inline-block;
    position: absolute;
    left: 40%;

}
.connector-line:after,
.connector-line:before{
    content:"\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}
.destination {
	text-align:right;
    display: inline-block;
    width: 50%;
}
.departure-details {
	padding: 8px;
	border-right: 4px solid lightgray;
}
.return-details {
	padding: 8px;
}
.header {
	padding:10px;
	margin-bottom:10px;
	background-color: lightskyblue;
	color:white;
	
}

.flight-options {
	padding:10px;
	border: 2px solid lightgray;
	
}
.flight-options form{
	padding:10px;
}

.flight-number {
	padding:0px 10px 10px 0px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: skyblue;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.text-black {
	color:black;
}

.flight-details p {
    margin-top: 0; 
    margin-bottom: 0
}

.time-txt:before {
    position:relative;
    content:"";
    width: 30%;
    left: -2px;
    top: -4px;
    display: inline-block;
    height: 1px;
    border-top: 2px solid black;
}

.time-txt:after {
    position:relative;
    content:"";
    width: 30%;
    right: -2px;
    top: -4px;
    display: inline-block;
    height: 1px;
    border-top: 2px solid black;
}

.line:before {
    position:relative;
    content:"";
    width: 20%;
    margin: -5px;
    top: -8px;
    display: inline-block;
    height: 1px;
    border-top: 2px solid black;
}
.center {
position: relative;
text-align: center;
top: -50px;
}

.time-text {
display: inline-block;
width: 80%;
}

.flight-duration-details {
    width: 30%;
    display: inline-block;
}