.form-inline .author {
  margin-right: 8px;
  width: 30%;
}

.form-inline .email {
  margin-right: 8px;
  width: 38%;
}

.form-inline .phone {
  margin-right: 8px;
  width: 30%;
}

input.form-control {
  width: 100% !important;
}
.form-inline {
  margin: 16px;
}

.comment {
  margin: 0px 16px 16px 16px;
}

.btn.btn-success {
  margin: 0px 16px 0px 16px;
}

td .blockquote{
  border-left: none;
  font-size: 1.05rem;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid darkblue;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid darkblue;
}

.comments-section {
  padding:8px;
}

.form-inline div {
  height: 50px;
}

.post-list {
  height: 200px;
  overflow: auto;
}